@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa; /* off-white base */
  color: #1a1a1a; /* dark-charcoal */
}

::selection {
  background-color: #8b0000;
  color: white;
}
